#query-box {
	padding: 10px;
}

#sql-results-box {
	padding: 5px;
}

#sql-results {
	
}

#full-helper {
	padding: 10px;
	background-color: lightgrey;
	border-radius: 25px;
}

table {
	border-top: none;
}

button {
	border-radius: 5px;
}